body {
  max-width: 320px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: black;
 
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  display: block;
  max-width: 100%;
}
.profil-picture-alex {
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-bottom: 25px;
  background: rgb(221, 221, 221);
  padding-bottom: 30px;
  padding-top: 10px;
}

.image-alex {
  background: white;
  border-radius: 50px;
  display: flex;
  margin-left: 40px;
}

.message-box-sam {
  margin-left: 95px;
  padding: 6px;
  margin-bottom: 11px;
  background: rgb(255, 227, 250);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 30px;
}

.message-content {
  text-align: center;
}

.message-box-alex {
  padding: 6px;
  margin-right: 35px;
  background: rgb(175, 183, 247);
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  background: rgb(201, 201, 201);
  padding: 30px;
  position: sticky;
  bottom: 0;
}

.text-sam {
 margin-left: 265px;
 margin-bottom: 1px;
}

.text-alex {
  margin-bottom: 1px;
 }

.alex-gif {
  width: 150px;
  margin-left: 30px;
  margin-bottom: 18px;
}

header{
  position: sticky;
  top: 0;
}

.sam-gif {
  display: flex;
  width: 240px;
  margin-left: 6px;
  margin-bottom: 2px;
  padding-bottom: 2px;
  
 
}
 