body {
  max-width: 320px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: black;
 
}

main {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  display: block;
  max-width: 100%;
}
.profil-pictur-alex {
  
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h1{
  background: rgb(221, 221, 221);
  padding: 20px;
}

.message-box-sam {
  margin-left: 95px;
  padding: 6px;
  margin-bottom: 18px;
  background: rgb(255, 227, 250);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 30px;
}

.message-content {
  text-align: center;

}

.message-box-alex {
  padding: 6px;
  margin-right: 35px;
  background: rgb(175, 183, 247);
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 18px;
}

footer {
  display: flex;
  background: rgb(201, 201, 201);
  padding: 30px;
  position: sticky;
}

.text-sam {

}
